
/*CARD */

.body {
	margin-top: 50px;
}

/* title & nav bar */
a.title {
	color: #222 !important;
}

nav {
	margin-top: 50px;
}
a.nav-link {
	color: #888 !important;
}
a.active {
	color: #222 !important;
}
a.nav-link:hover {
	color: #222 !important;
}

/* bottom */
div.bottom {
	position: absolute;
	bottom: 100px;
	color: #888;
}